@model IEnumerable<DepartmentViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>All Departments</h1>
<br />
<br />
<a asp-controller="Department" asp-action="Create" class="btn btn-primary">Create New Department</a>
<br />
<br />

@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="alert alert-primary">@TempData["Message"]</div>
}

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(D => D.Code)</th>
                <th>@Html.DisplayNameFor(D => D.Name)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.Code</td>
                    <td>@department.Name</td>

                    <partial name="_ButtonsPartial" model="@department.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger mt-4">
        <h1>There Are No Departments</h1>
    </div>
}
